{% extends "base.html" %}

{% block title %} Add Wish Item {% endblock %}

{% block main %}
<div class="login-form center-block" ng-app="wishListApp">
    <h2>Add Wish Item</h2>
    <form action="{{ url_for('registerpage') }}" method="POST">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.title.label }}
            {{ form.title(class='form-control', placeholder="Title") }}
        </div>
        <div class="form-group">
            {{ form.description.label }}
            {{ form.description(class='form-control', placeholder="Description") }}
        </div>
        <div class="form-group">
            {{ form.website.label }}
            {{ form.website(class='form-control', placeholder="Website") }}
        </div>
        
        <div class="form-group">
            {{ form.thumbnail.label }}
            {{ form.thumbnail(class='form-control', placeholder="Thumbnail") }}
        </div>
        
        <button type="submit" name="submit" class="btn btn-primary btn-block">Submit</button>
    </form>
    
    {% raw %}
    <form ng-controller="imageCtrl">
        <div class="form-group">
            <label for="im" >URL for Thumbnails</label> 
            <input name="im" class="form-control" type="text" placeholder="URL for images" ng-model="url">
            <button type="submit" ng-click="getImages()" class="btn btn-primary btn-block">Get Thumbnails</button>
        </div>
        <div id="pics">
        </div>
    </form>
    {% endraw %}
</div>

{% endblock %}

{% block js %} 
<script src="/static/js/angular.min.js"></script>
<script src="/static/js/app.js"></script>
{% endblock%}