{% extends "base.html" %}

{% block main %}
<h1 class="page-header">Welcome To WishList</h1>

{% if not session.logged_in %}

<p class="lead">It's Like Craigslist but you can't buy anything. Please Login to Continue.</p>

{% else %}

<p class="lead">Your WishList: </p>

<div ng-app="wishListApp">

    <div ng-controller="shareCtrl">
        <button type="submit" ng-click="getemail()" class="btn btn-primary">Share Your Wishlist</button>
        <br/>
        <br/>
        <form  id="email" style="display:none">
            <div class="form-group">
                <label for ="name">Recipient's Name</label><br/>
                <input id="name" name="name" type="text"><br/>
            </div>
            <div class="form-group">
                <label for ="em">Send to this Email Address</label><br/>
                <input id="em" name="em" type="text" ng-model="email"><br/><br/>
                <button type="submit" ng-click="sendemail()" class="btn btn-primary">Submit Email</button>
            </div>
        </form>
    </div>
    <input type="hidden" id="uid" value="{{ session.userid }}">
    
    <div id="wishes" ng-controller="thumbCtrl">
        
    </div>

</div>

{% endif %}

{% endblock %}

{% block js %} 
<script src="/static/js/angular.min.js"></script>
<script src="/static/js/app.js"></script>
{% endblock%}
