{% extends "base.html" %}

{% block main %}

{% for wish in wishes %}
    <h1>{{ name }}'s WishList</h1>
    <hr/>
    <p><b>Title: </b> {{ wish.title }}</p><br/>
    <img src="{{ wish.thumbnail }}"/>
    <p><b>Description: </b> {{ wish.description }}</p><br/>
    <p><b>Website URL: </b><a href = "{{ wish.website }}"> {{ wish.website }}</a></p><br/>
{% endfor %}

{% endblock %}

{% block js %} 
<script src="/static/js/angular.min.js"></script>
<script src="/static/js/app.js"></script>
{% endblock%}

